# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# IDE/Editors
.idea

# System Files
.DS_Store
Thumbs.db
.env

# generated
*.generated.*

# logs
**/logs/*
!**/logs/.gitkeep

# env
.env
